:root {
  --black-two: #121212;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
  --white: #fff;
  --warm-grey: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  width: 90%;
  max-width: 1120px;
  margin: auto;
  overflow-x: hidden;
}

.categoryFilter {
  margin-top: 149px;
  background: #fff;
  min-height: 150px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.categoryFilter__left {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.categoryFilter__left-heading {
  font-size: 30px;
  color: #0290ff;
}

.categoryFilter__left-caption {
  margin-right: 1rem;
  font-weight: 300;
}

.categoryFilter__right {
  flex: 2.5;
  display: flex;
  justify-content: flex-end;
}

.categoryFilter__right > .MuiSvgIcon-root {
  height: 45px;
  width: 45px;
  color: #0290ff;
}

.books__list {
  margin-top: 38px;
}

.bookCard {
  background: #fff;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
}

.bookCard__basicInfo {
  flex: 1;
  width: 20%;
}

.bookCard__basicInfo-category {
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: var(--black-two);
}

.bookCard__basicInfo-title {
  width: 197px;
  height: 29px;
  margin: 3px 323px 0 0;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.bookCard__basicInfo-user {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.bookCard__basicInfo__footer {
  margin-top: 21px;
}

.bookCard__basicInfo__footer-comments {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.bookCard__basicInfo__footer-comments:hover,
.bookCard__basicInfo__footer-edit:hover {
  cursor: not-allowed;
}

.bookCard__basicInfo__footer-remove {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.bookCard__basicInfo__footer-remove:hover {
  cursor: pointer;
}

.bookCard__basicInfo__footer-edit {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.bookCard__basicInfo__footer > * {
  margin-right: 10px;
}

.bookCard__progress {
  width: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.bookCard__progress-oval-2 {
  width: 60px;
  height: 60px;
  border-bottom: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3;
  border-radius: 50%;
  border-color: #f3f3f3 #2274ee #2274ee #f3f3f3;
  border-style: solid;
  border-width: 10px;
}

.bookCard__progress__percent {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.bookCard__progress__percent-complete {
  width: 68px;
  height: 39px;
  margin: 1px 92px 0 11px;
  font-family: Montserrat;
  font-size: 32px;
  color: var(--black-two);
}

.bookCard__progress__percent-completedText {
  width: 80px;
  height: 18px;
  margin: 7px 79px 12px 12px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  color: var(--black-two);
}

.bookCard__currentChapter {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bookCard__currentChapter-chapter {
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  color: var(--black-two);
}

.bookCard__currentChapter-currentLesson {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.bookCard__currentChapter-updateProgress {
  margin-top: 1rem;
  align-self: start;
  padding: 7px 14px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: var(--white);
  text-transform: uppercase;
}

.mainContainer hr {
  margin: 2rem 0;
}

.bookFormContainer {
  margin-bottom: 2rem;
}

.bookFormContainer__title {
  margin: 29px 0;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: var(--warm-grey);
  text-transform: uppercase;
}

.bookFormContainer__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookFormContainer__form-title {
  flex: 0.6;
}

.bookFormContainer__form-select {
  flex: 0.2;
}

.bookFormContainer__form > button {
  height: 3.2rem;
  flex: 0.15;
  background: #0290ff;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

@media (max-width: 865px) {
  .categoryFilter {
    margin-top: 2rem;
    display: block;
    text-align: center;
  }
  .categoryFilter__left-caption {
    display: none;
  }

  .categoryFilter__left-heading {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .categoryFilter__left-categories {
    width: 85% !important;
  }

  .categoryFilter__right {
    margin-top: -7rem;
  }

  .bookCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bookCard__basicInfo,
  .bookCard__basicInfo-title,
  .bookCard__basicInfo__footer,
  .bookCard__progress {
    width: 100%;
    text-align: center;
  }

  .bookCard__basicInfo__footer {
    display: block;
    margin: auto;
  }

  .bookCard__progress {
    padding: 1rem;
    text-align: center;
  }

  .bookCard__progress__percent {
    width: 90px;
  }

  .bookCard__basicInfo__footer {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .categoryFilter {
    margin-top: 40px;
    flex-direction: column;
  }

  .categoryFilter__left {
    flex-direction: column;
  }
}

@media (max-width: 545px) {
  .categoryFilter {
    margin-top: 40px;
  }
  .categoryFilter__left-heading {
    font-size: 1.5rem;
  }
}
