:root {
  --black-two: #121212;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90vw;
  margin: auto;
  background: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

.categoryFilter {
  margin-top: 149px;
  background: #fff;
  height: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.categoryFilter__left {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryFilter__left-heading {
  font-size: 30px;
  color: #0290ff;
}

.categoryFilter__left-caption {
  font-weight: 300;
}

.categoryFilter__right {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

.categoryFilter__right > .MuiSvgIcon-root {
  height: 45px;
  width: 45px;
  color: #0290ff;
}

.books__list {
  margin-top: 38px;
}

.bookCard {
  background: #fff;
  padding: 1.5rem 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #e8e8e8;
}

.bookCard__basicInof {
  flex: 0.4;
}

.bookCard__basicInfo-category {
  width: 49px;
  height: 18px;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.bookCard__basicInfo-title {
  width: 197px;
  height: 29px;
  margin: 3px 323px 0 0;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.bookCard__basicInfo-user {
  width: 107px;
  height: 19px;
  margin: 4px 0 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookCard__basicInfo__footer {
  margin-top: 21px;
}

.bookCard__basicInfo__footer-comments {
  width: 73px;
  height: 19px;
  margin: 3px 15px 2px 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookCard__basicInfo__footer-comments:hover,
.bookCard__basicInfo__footer-edit:hover {
  cursor: not-allowed;
}

.bookCard__basicInfo__footer-remove {
  width: 54px;
  height: 19px;
  margin: 3px 15px 2px 14px;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookCard__basicInfo__footer-remove:hover {
  cursor: pointer;
}

.bookCard__basicInfo__footer-edit {
  width: 27px;
  height: 19px;
  margin: 3px 298px 2px 17px;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookCard__progress {
  flex: 0.2;
  display: flex;
}

.bookCard__progress-oval-2 {
  width: 60px;
  height: 60px;
  border-bottom: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3;
  border-radius: 50%;
  border-color: #f3f3f3 #2274ee #2274ee #f3f3f3;
  border-style: solid;
  border-width: 10px;
}

.bookCard__progress__percent {
  display: flex;
  flex-direction: column;
}

.bookCard__progress__percent-complete {
  width: 68px;
  height: 39px;
  margin: 1px 92px 0 11px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.bookCard__progress__percent-completedText {
  width: 80px;
  height: 18px;
  margin: 7px 79px 12px 12px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.bookCard__currentChapter {
  flex: 0.2;
}

.bookCard__currentChapter-chapter {
  width: 126px;
  height: 18px;
  margin: 1px 58px 0 59px;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.bookCard__currentChapter-currentLesson {
  width: 75px;
  height: 21px;
  margin: 7px 109px 4px 59px;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.bookCard__currentChapter-updateProgress {
  width: 184px;
  height: 33px;
  margin: 12px 0 9px 59px;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: var(--white);
  text-transform: uppercase;
}
